@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  background-color: #1A232F; /* fundo pagina */
  color: #ddd; /* cor do texto */
}
.bar {
  background-color: #1A232F; /* fundo pagina */
  color: white;
  display: flex; /* alinha itens na mesma linha */ 
  justify-content: space-between; /* logo à esquerda, links à direita */
  align-items: center; /* centraliza verticalmente */
  padding: 10px 60px; /* espaço interno */
}
.logo {
  font-size: 1.5rem;
  font-weight: 600;
}
.links {
  font-family: "poppins", serif;
  list-style-type: none; /* remove marcadores */
  align-items: center; /* centraliza verticalmente */
  display: flex; /* alinha itens na mesma linha */
  gap: 80px; /* espaço entre os links */        
  margin: 0; 
  padding: 0;
}
.links a {
  margin-left: -50px; /* espaço entre os links */
}
.links a, h1 {
  color: #ddd;
  text-decoration: none;
  font-size: 0.95rem;
}
.container {
  display: flex;
  align-items: center;
  height: calc(100vh - 60px); /* altura total da viewport menos a altura da barra */
  gap: 50px; /* espaço entre as caixas */
}
.hello {
  font-size: 2.5rem;
  font-weight: 1201;
  margin-bottom: 0;
  padding-left: 59px;
}
.name {
  font-size: 3rem;
  font-weight: 80;
  margin-top: 0;
  display: flex;
  align-items: center;
  padding-left: 161px;
}